@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Offers2Desi, LLC.,<br />
    Murphy, TX - 75094<br />
    <abbr title="Phone">P:</abbr>
    972.100.DESI
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@offers2desi.com">Support@offers2desi.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Sales@offers2desi.com">Sales@offers2desi.com</a>
</address>