@using Microsoft.AspNet.Identity
@if (true) //Request.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "searchForm", @class = "navbar-form navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">      
            <li>
                @Html.TextBox("SearchText", "", new { @style = "width:250px;" })                
            </li>
            <li>
                @Html.TextBox("Location", "Plano, TX")
            </li>
            <li>
                <input type="image" src="~/Content/Images/SearchLogo.png" alt="Search" height="27" width="27" />
            </li>
        </ul>
    }
}
